<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
  <title>{{ title | default('PAGE TITLE') }} - {% if build.env == 'dev' %}DEV {% endif %}Youth Futures Foundation</title>
  <link rel="stylesheet" href="{{ colour_styles }}">
  <link rel="stylesheet" href="/components.css">
  <link rel="stylesheet" href="/assets/style/yff.css">
  <script defer src="/components.js" inline></script>
  <script defer src="/assets/js/site.js"></script>

  <script>
    (function (c, s, q, u, a, r, e) {
        c.hj=c.hj||function(){(c.hj.q=c.hj.q||[]).push(arguments)};
        c._hjSettings = { hjid: a };
        r = s.getElementsByTagName('head')[0];
        e = s.createElement('script');
        e.async = true;
        e.src = q + c._hjSettings.hjid + u;
        r.appendChild(e);
    })(window, document, 'https://static.hj.contentsquare.net/c/csq-', '.js', 5335049);
</script>

</head>
<body>
  {% if css %}<style>{{ css | safe }}</style>{% endif %}
  {% if build.env == 'dev' %}{{ comp.dev_banner() | safe }}{% endif %}
  <div class="message container" data-pagefind-ignore="all">
    {% include 'partials/survey-banner.njk' %}
  </div>
  {% include 'partials/site-header.njk' %}
  <main id="main" role="main" class="container {{ main_class or '' }}">
    {% block main %}
    {{ content | safe }}
    {% endblock %}
  </main>
  <div class="feedback">
    {% include 'partials/feedback.njk' %}  </div>
  {% include 'partials/site-footer.njk' %}

  {{ comp.cookiePopup() | safe }}

  <script>
    addEventListener('DOMContentLoaded', function () {
      if (sessionStorage.getItem('unstyled') === 'true') {
        var styles = document.querySelectorAll('link[rel=stylesheet][href$="/assets/style/yff.css"]');
        styles.forEach(function (style) { style.disabled = true; });
      }
    });
  </script>
</body>
</html>