<div class="holder padded">
The data presented on the dashboard is from surveys, and there are often suppressed values due to small or disclosive sample sizes.
<br><br>

Please note the dashboard is currently under development and it might not reflect the latest data release.
</div>